<!DOCTYPE html>
<html>
    <head>
        <title>MitochondriA</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        
            <article>
                <time>published: Loving it there</time>
                <h2><a href="">Feels now</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
     
        <article>
            <h2>Hey here looking for stuff</h2>
        </article>
        

    </body>
</html>
